.container
{
width:50%;
text-align: center;
margin-top: 10%;
margin-left: 25%;
margin-bottom: 25%;
margin-right: 20%;
background-color: rgb(53, 176, 106);
border-radius: 5px;
}
.homecontainer
{
width:50%;
text-align: center;
margin-top: 15%;
margin-left: 25%;
margin-bottom: 25%;
margin-right: 20%;
background-color: aquamarine;
border-radius: 5px;
}